# будут игнорироваться все файлы заканчивающиеся суффиксами _old, _backup old
_old
_backup old
*_old
*_backup old
# проигнорировать файлы Thumbs.db и .DS_Store
Thumbs.db
.DS_Store
# файлы, находящиеся в подкаталоге tmp
tmp/ 